<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
    <title>未来图景</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">


</head>
<body style="background: url(/static/green.jpg) no-repeat;background-size: 100%;background-attachment: fixed;">
<nav class="navbar navbar-light navbar-expand-md"
     style="background-color: #17191a;filter: blur(0px);padding-top: 20px;padding-right: 20;padding-bottom: 10px;padding-left: 10px;height: 8vh;color: rgb(255,255,255);">
    <div class="container-fluid">
        <button class="navbar-toggler" data-target="#navcol-1" data-toggle="collapse"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <a href="/"><img src="/static/icon.png"
                         style="background-image: url(&quot;/static/icon.png&quot;);margin-right: 20px;height: 40px;"></a>
        <div
                class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><span class="float-left"
                                                               style="font-size: 35px;margin-left: 10px;margin-bottom: 8px;font-weight: bold;">中国科幻文本数据库</span>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link active invisible" href="#"
                                                            style="color: rgb(255,255,255);font-size: 25px;">待定</a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link invisible" href="#"
                                                            style="color: rgb(255,255,255);font-size: 25px;">待定</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="simple-slider" style="height: 92vh;">
        <div class="swiper-container" style="height: 92vh;">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);">
                    <div class="container d-md-flex justify-content-md-center"><img class="float-left d-md-flex justify-content-md-center" src="/static/pics/01.png" style="height: 92vh;"></div>
                </div>
                <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);">
                    <div class="container d-md-flex justify-content-md-center"><img class="float-left d-md-flex justify-content-md-center" src="/static/pics/02.png" style="height: 92vh;"></div>
                </div>
                <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);">
                    <div class="container d-md-flex justify-content-md-center"><img class="float-left d-md-flex justify-content-md-center" src="/static/pics/03.png" style="height: 92vh;"></div>
                </div>
                <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);">
                    <div class="container d-md-flex justify-content-md-center"><img class="float-left d-md-flex justify-content-md-center" src="/static/pics/04.png" style="height: 92vh;"></div>
                </div>
                <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);">
                    <div class="container d-md-flex justify-content-md-center"><img class="float-left d-md-flex justify-content-md-center" src="/static/pics/05.png" style="height: 92vh;"></div>
                </div>
                <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);">
                    <div class="container d-md-flex justify-content-md-center"><img class="float-left d-md-flex justify-content-md-center" src="/static/pics/06.png" style="height: 92vh;"></div>
                </div>
                <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);">
                    <div class="container d-md-flex justify-content-md-center"><img class="float-left d-md-flex justify-content-md-center" src="/static/pics/07.png" style="height: 92vh;"></div>
                </div>
                <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);">
                    <div class="container d-md-flex justify-content-md-center"><img class="float-left d-md-flex justify-content-md-center" src="/static/pics/08.png" style="height: 92vh;"></div>
                </div>
                <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);">
                    <div class="container d-md-flex justify-content-md-center"><img class="float-left d-md-flex justify-content-md-center" src="/static/pics/09.png" style="height: 92vh;"></div>
                </div>
                <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);">
                    <div class="container d-md-flex justify-content-md-center"><img class="float-left d-md-flex justify-content-md-center" src="/static/pics/10.png" style="height: 92vh;"></div>
                </div>
                <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);">
                    <div class="container d-md-flex justify-content-md-center"><img class="float-left d-md-flex justify-content-md-center" src="/static/pics/11.png" style="height: 92vh;"></div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>